category_index
//.wrapper.clearfix
//  = render partial: 'questions/header'
//  .contents.clearfix
//    .content-left
//      = render partial: 'questions/question', collection: @questions
//    .content-right
//      .categorys
//        = render partial: 'questions/category', collection: @categorys